*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #515ada 0%, #efd5ff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navbar{
    background-image: linear-gradient(90deg , #417d8b , #004425);
}

.wrapper{
    color: rgb(228, 228, 228);
    padding: 0px 120px;
}

.option-input{
    text-transform: uppercase;
}